name: Infra Kubernetes

on:
  workflow_dispatch:

jobs:
  apply:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.12.2
      - run: terraform -chdir=terraform init -input=false
      - run: terraform -chdir=terraform apply -auto-approve
